@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
html {
  font-size: 17px;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 800;
  line-height: 1.15;
}

h3 {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 800;
  line-height: 1.15;
}

p {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

a {
  font-size: 1rem;
  text-decoration: none;
}
